.content-box{
      padding: 30px 0px;
      border-bottom: medium dotted #333333;
}
.content-box ul{
      margin-left: 25px;
}
.content-box ol{
      padding-left: 25px;
}
.content-box h1{
      width: 165px;
      background: linear-gradient(transparent 55%, yellow 55%, yellow 100%);
}
