/* ▼head */
/* ▼body */
* {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}
/* -webkit-font-smoothing　はエイリアシングが起きないようにするための処理でジャギーが目立たなくなる
値は、none,antialiased,subpixel-antialiased　←これはSafariでのDefault */
/* -moz-osx-font-smoothing　はfirefoxにおけるantialiased？ */


*, *:after, *:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
/* boder-boxをかけることで、全体のpaddingとボーダーを幅と高さに含める
値は、inherit,border-box,content-box　←これが初期値 */


body {
      font:normal 14px/1.6em silom , Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
      color: #444;
}
/* スペースを含んでいる名称は””で囲む、また複数しているのは表示できないフォントだった場合の候補 */

@media screen and (min-width: 711px){
  .windowSize{
  border: black solid;
  position: fixed;
  right: 3%;
  top: 5%;
  width: 500px;
  height: 40px;
  }
  .sizeInner{
  margin: auto;
  border: blue solid;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 2.0em;
  background: white;
  text-align: center;
  vertical-align: middle;
  }
}
@media screen and (max-width: 710px){
  .windowSize{
    display: none;
  }
}
/* 右上に表示しているウィンドウサイズのboxに対するCSS */


/* ここから下はページ全体に対するCSS */
mark{
      position: relative;
      top: -2px;
      font-size: 18px;
      font-weight: normal;
      background: linear-gradient(transparent 55%, yellow 55%, yellow 100%);
}
.twitter{
      margin: 0 auto;
      margin-top: -20px;
      width: 60px;
      height: 25px;
      border: solid black 1px;
      background-color: #1f8dd4;
      border-radius: 6px;
      text-align: center;
      vertical-align: bottom;
}
.twitter a{
      color: white;
}
#headerimg{
      position: relative;
      top: -20px;
      left: 20px;
      width: 295px;
      height: 60px;
}

/* ページのレイアウトに必要なCSS */
a{
      text-decoration: none;
}
p{
      margin: 15px 0 30px 0;
}
li{
      margin: 10px;
}
h1{
      margin:50px 10px 8px 6px;
      font-size: 20px;
      position: relative;
      left: -12px;
}
h2{
      margin:40px 8px 6px 6px;
      font-size: 18px;
      position: relative;
      left: -10px;
}
h3{
      margin:8px 6px 4px 6px;
      font-size: 16px;
      position: relative;
      left: -8px;
}
nav#main-nav ul.menu li a{
  transition: all 0.4s ease-in-out 0.6;
}
nav#main-nav ul.menu li a:hover{
  text-decoration: underline;
  font-size: 17px;
  color: white;
}


@media screen and (min-width:575px){
      #main-nav{
            font-size: 16px;
      }
      .thisDeco{
            margin-top: 20px;
            margin-bottom: -60px;
            font-size: 18px;
      }
      .copylight{
            float: left;
            width: 100%;
            color: #eeeeee;
            background-color: #121212;
            text-align: center;
            font-size: 12px;
      }
      #main-nav{
            background-color: #4d4b49;
            width: 100%;
            min-width: 575px;
      }
      #main-nav ul{
            height: 50px;
            display: flex;
            justify-content: space-around;
      }
      #main-nav ul.menu li a{
            height: 40px;
            font-weight: 700;
            color: #c6c4c4;
            position: relative;
            top: 5px;

      }
      .container{

            min-width: 575px;
      }
      #content{
            margin: 0 auto;
            margin-bottom: 60px;
            padding: 0px 50px;
            width: 90%;
            height: 100%;
            border-radius: 20px;
            line-height: 2.0em;
            font-weight: 600;
      }
      #content h1{
            font-weight: 800;
      }
      #content .content-box:first-child{
            margin-top: 40px;
      }
      #content .content-box:last-child{
            margin-bottom: 30px;
            border-bottom: none;
      }

      #footer{
            margin-top: 20px;
            width: 100%;
            height: 100px;
            float: left;
            background-color: #4d4b49;
      }
}


@media screen and (max-width: 574px){
      #main-nav{
            font-size: 16px;
      }

      .thisDeco{
            margin-top: 30px;
            margin-bottom: -40px;
            font-size: 18px;
      }
      .copylight{
            float: left;
            width: 100%;
            color: #eeeeee;
            background-color: #121212;
            text-align: center;
            font-size: 12px;
      }
      #main-nav{
            background-color: #4d4b49;
            width: 100%;
            min-width: 575px;
      }
      #main-nav ul{
            height: 50px;
            display: flex;
            justify-content: space-around;
      }
      #main-nav ul.menu li a{
            height: 40px;
            font-weight: 700;
            color: #c6c4c4;
            position: relative;
            top: 5px;
      }
      .container{
            min-width: 575px;
      }
      #content{
            margin: 0 auto;
            margin-bottom: 30px;
            padding: 0px 50px;
            width: 90%;
            height: 100%;
            border-radius: 20px;
            line-height: 2.0em;
            font-weight: 600;
      }
      #content h1{
            font-weight: 800;
      }
      #content .content-box:first-child{
            margin-top: 40px;
      }
      #content .content-box:last-child{
            margin-bottom: 30px;
            border-bottom: none;
      }

      #footer{
            margin-top: 20px;
            min-width: 575px;
            height: 100px;
            float: left;
            background-color: #4d4b49;
      }
      .copylight{
            min-width: 575px;
      }
}
